# Renomeie este arquivo para ".env" antes de rodar o projeto

# Porta onde a API vai rodar
PORT=3000

# Chave secreta usada para gerar e validar o token JWT
JWT_SECRET=chave_secreta_da_atividade

# Usuário e senha "fixos" usados só para gerar o token de acesso
# (não é um sistema de cadastro de usuários, é só o login do admin do site)
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
